### Conjuntos de Dados

#### Sets, Dicionários e Tuplas

In [2]:
a = [1,1,1,2,3,4,5]
a

[1, 1, 1, 2, 3, 4, 5]

In [3]:
meu_primeiro_set = set(a)
meu_primeiro_set

{1, 2, 3, 4, 5}

In [8]:
meu_segundo_set = {
    'arroz',
    'feijão',
    'lentilha'
}

meu_segundo_set

{'arroz', 'feijão', 'lentilha'}

In [10]:
print(a[0])
print(a[-1])

1
5

In [12]:
print('arroz' in meu_segundo_set)
print('carne' in meu_segundo_set)

True
False

### Dicionários

chave - valor

In [17]:
meu_primeiro_dicionario = {
    1: 'teste',
    '1': 'segundo teste'
}

print(meu_primeiro_dicionario[1])
print(meu_primeiro_dicionario['1'])

teste
segundo teste

In [20]:
meu_segundo_dicionario = dict()

meu_segundo_dicionario['outro valor'] = 'um novo valor'
meu_segundo_dicionario

{'outro valor': 'um novo valor'}

In [21]:
meu_segundo_dicionario['outro valor'] = 'agora temos um valor diferente'

meu_segundo_dicionario

{'outro valor': 'agora temos um valor diferente'}

In [23]:
meu_segundo_dicionario['outro valor '] = 'novo valor para outro valor'

meu_segundo_dicionario

{'outro valor': 'agora temos um valor diferente',
 'almoço_segunda': ['arroz', 'feijão', 'frango', 'legumes'],
 'outro valor ': 'novo valor para outro valor'}

In [22]:
meu_segundo_dicionario['almoço_segunda'] = ['arroz', 'feijão', 'frango', 'legumes']

meu_segundo_dicionario['almoço_segunda']

['arroz', 'feijão', 'frango', 'legumes']

In [24]:
meu_segundo_dicionario.keys()

dict_keys(['outro valor', 'almoço_segunda', 'outro valor '])

In [25]:
meu_segundo_dicionario.values()

dict_values(['agora temos um valor diferente', ['arroz', 'feijão', 'frango', 'legumes'], 'novo valor para outro valor'])

In [26]:
meu_segundo_dicionario.items()

dict_items([('outro valor', 'agora temos um valor diferente'), ('almoço_segunda', ['arroz', 'feijão', 'frango', 'legumes']), ('outro valor ', 'novo valor para outro valor')])

In [29]:
print(meu_segundo_dicionario.get('almoço_sabado', []))

[]

Exercício:

Monte um dicionário que irá coletar o tempo gasto, em horas, em atividades de python durante a semana e retornar um valor total.

In [35]:
atividades = {
    'segunda': 5,
    'terça': 2,
    'quinta': 1,
    'domingo': 1
}

In [36]:
dias_da_semana = {
    'segunda',
    'terça',
    'quarta',
    'quinta',
    'sexta',
    'sabado',
    'domingo'
    }

In [39]:
for dia in dias_da_semana:
    print(dia, '->', atividades.get(dia))

sabado -> None
sexta -> None
quinta -> 1
terça -> 2
quarta -> None
segunda -> 5
domingo -> 1

In [40]:
total_horas = 0

for dia in dias_da_semana:
    # total_horas = total_horas + ... 
    total_horas += atividades.get(dia, 0)

print(total_horas)

9

In [41]:
dias_da_semana.add('dia do saco cheio')

dias_da_semana

{'dia do saco cheio',
 'domingo',
 'quarta',
 'quinta',
 'sabado',
 'segunda',
 'sexta',
 'terça'}

In [42]:
dias_da_semana.remove('dia do saco cheio')

dias_da_semana

{'domingo', 'quarta', 'quinta', 'sabado', 'segunda', 'sexta', 'terça'}

### Tuplas

In [44]:
minha_primeira_tupla = tuple([1, 5, 9])

minha_primeira_tupla

(1, 5, 9)

In [47]:
minha_primeira_tupla[0]
minha_primeira_tupla[1]
minha_primeira_tupla[2]

9

In [48]:
for i in minha_primeira_tupla:
    print(i)

1
5
9

In [49]:
dias_da_semana_tupla = tuple(dias_da_semana)

In [50]:
dias_da_semana_tupla

('sabado', 'sexta', 'quinta', 'terça', 'quarta', 'segunda', 'domingo')

In [51]:
list(dias_da_semana)

['sabado', 'sexta', 'quinta', 'terça', 'quarta', 'segunda', 'domingo']

In [53]:
for chave, valor in atividades.items():
    print(f'{chave} -> {valor}')

segunda -> 5
terça -> 2
quinta -> 1
domingo -> 1

In [54]:
lista_de_tuplas = [
    ('a', 'b', 'c'),
    ('d', 'e', 'f')
]

In [55]:
for i,j,k in lista_de_tuplas:
    print(f'{i} -> {j} -> {k}')

a -> b -> c
d -> e -> f